@charset "UTF-8";

@media  screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top,  #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
    }
    
    section#login > div#iimg {
        float: left;
        width: 30%;
        height: 100%;
    }

section#login > div#iform {
    float: right;
    width: 70%;
}

div#iform > p {
    font-size: 1.2em;

}

}


@media screen and (min-width:992px) {

     body {
        background-image: linear-gradient(to top,  #49a09d, #5f2c82);
    }

    section#login {
        width: 940px;
    }

    section#login > div#iimg {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#iform {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#iform > h1 {
        font-size: 2em;
    }

    div#iform > p {
    font-size: 1.2em;
}

}